body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.vingette {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    pointer-events: none;
}
.info {
    color: #FFF;
    text-align: center;
    width: 100%;
    height: 80px;
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.shadow1 {
    text-shadow: 0px 0px 1px #000;
}
.shadow2 {
    text-shadow: 0px 0px 1px #000, 0px 0px 2px rgba(0, 0, 0, .5);
}
.shadow3 {
    text-shadow: 0px 0px 1px #000, 0px 0px 2px rgba(0, 0, 0, .5), 0px 0px 3px rgba(0, 0, 0, .25);
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul a {
    float: left;
}
.clearfix {
    zoom: 1;
}
.white {
    color: white;
}
.grey {
    color: #CFCFCF;
}
#weather.pill > * {
    border: none;
    margin-left: 60px;
}
#weather {
    margin-right: 60px;
}
.pad5 {
    padding: 5px;
}
.modal {
    width: 100%;
    height: 430px;
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000000;
    width: 500px;
    transform: translate(0,-5000px);
    transition: all .4s;
    transition-timing-function: ease-in-out;
}
.modal.active {
    transform: translate(0,100px);
}
#show-settings {
    z-index: 100000;
}
.leaflet-fade-anim .leaflet-popup, .leaflet-fade-anim .leaflet-tile {
     transition: opacity .1s linear;
}
h1.fancy {
    font-size: 100px;
}
h2 {
    font-size: 40px;
}

.space-right1 {
    margin-right: 5px;
}
#location {
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
}
