body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.vingette {
    /*-webkit-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 100px #000;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    pointer-events: none;
}
.info {
    color: #FFF;
    text-align: center;
    width: 100%;
    height: 80px;
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.shadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul a {
    float: left;
}
.clearfix {
    zoom: 1;
}
.white {
    color: white;
}
.grey {
    color: #CFCFCF;
}
#weather.pill > * {
    border: none;
    margin-left: 60px;
}
#weather {
    margin-right: 60px;
}
.pad5 {
    padding: 5px;
}
.modal {
    width: 100%;
    height: 430px;
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000000;
    width: 500px;
    transform: translate(0,-500px);
    transition: all .3s;
    transition-timing-function: ease-in-out;
}
.modal.active {
    transform: translate(0,100px);
}
#show-settings {
    z-index: 100000;
}
.leaflet-fade-anim .leaflet-popup, .leaflet-fade-anim .leaflet-tile {
     transition: opacity .1s linear;
}
h1.fancy {
    font-size: 90px;
}
h2 {
    font-size: 30px;
}
.space-right1 {
    margin-right: 5px;
}